# Series (시리즈)의 개념
<img src="img/1강/Series개념.jpg" alt="datetime" style="width: 1200px;"/>

# pandas 라이브러리 import 하기

In [1]:
# Python의 리스트(List) 타입의 데이터 생성하기
data = [3,5,1,2]
data

[3, 5, 1, 2]

In [7]:
# Pandas의 Series 타입의 데이터 생성하기
pandas.Series(data)
#pandas.Series([3,5,1,2])

0    3
1    5
2    1
3    2
dtype: int64

In [6]:
# pandas 라이브러리 임포트하기 (1)
import pandas

In [9]:
# pandas 라이브러리 임포트하기 (2)-별칭
import pandas as pd

In [10]:
pd.Series(data)

0    3
1    5
2    1
3    2
dtype: int64

In [11]:
# pandas 라이브러리 임포트하기 (3)
from pandas import Series

In [12]:
Series(data)

0    3
1    5
2    1
3    2
dtype: int64

In [13]:
Series([3,5,1,2])
#int 정수형 숫자 
#index(1열) value(2열)

0    3
1    5
2    1
3    2
dtype: int64

In [14]:
a=Series([3,5,1,2])
print(data)
print(a)
#하나의 셀에서 2개 이상의 변수 출력 - print 써주어야함

0    3
1    5
2    1
3    2
dtype: int64

#  Series 생성
 - 1차원 데이터를 저장하는 파이썬의 데이터타입인 리스트, 튜플, 사전 타입 등을 이용해서 Series 객체를 생성해 보고, Series 객체의 특징들을 살펴보도록 하겠습니다.

### 1) List를 사용하여 Series 생성하기

In [15]:
data

[3, 5, 1, 2]

In [17]:
data1=Series(data)
data1

0    3
1    5
2    1
3    2
dtype: int64

In [19]:
#인덱스 값 할당 
#값의 개수 맞추기 
data1.index=['a','b','c','d']

In [20]:
data1

a    3
b    5
c    1
d    2
dtype: int64

In [ ]:
#한번에
data1=Series(data, index=['a','b','c',d])

### 2) Tuple을 사용하여 Series 생성하기

In [21]:
arr2 = (3,5,1,2)

In [22]:
data2 = Series(arr2)
data2

0    3
1    5
2    1
3    2
dtype: int64

### 3) Dict 타입의 변수를 사용하여 Series 생성하기

In [23]:
#사전 타입의 변수(데이터) 
arr3 = {
    'a':3,
    'b':5,
    'c':1,
    'd':2
}
arr3

{'a': 3, 'b': 5, 'c': 1, 'd': 2}

In [24]:
data3=Series(arr3)
data3

a    3
b    5
c    1
d    2
dtype: int64

### ** 몇 가지 Series 특징들 **

- Series.values는 numpy의 ndarray객체입니다.

In [ ]:
#값만 취하기 
data3.values

In [25]:
type(data3.values) 
#값의 타입 확인

numpy.ndarray

- 값에는 모든 데이터 타입 사용이 가능합니다.

In [26]:
Series(['big','data',10,5.3,[1,2,3]])

0          big
1         data
2           10
3          5.3
4    [1, 2, 3]
dtype: object

# Series의 속성(Attributes)와 함수(Method)들

#### 샘플 데이터 생성
 값과 Index 인자를 사용하여, Series 생성

In [27]:
sample = Series([85, 90, 75, 55, 45, 90, 95, 85, 90, 100], 
               index = ['a','b','c','d','e','f','g','h','i','j'])
sample

a     85
b     90
c     75
d     55
e     45
f     90
g     95
h     85
i     90
j    100
dtype: int64

### 속성(Attribute) = Series가 가지고 있는 객체, 속성(특징) 혹은 간단한 기능을 제공

1) index - Series의 인덱스 (혹은 인덱스 라벨)

In [28]:
#인덱스만 접근( 인덱스에 대한 정보)
sample.index

Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'], dtype='object')

2) values - Series의 데이터

In [29]:
sample.values

array([ 85,  90,  75,  55,  45,  90,  95,  85,  90, 100], dtype=int64)

3) size - Series의 크기 (데이터의 길이)

In [30]:
sample.size

10

4) dtype - Series의 데이터(Series.values)의 데이터 타입
* 정수형 숫자: int64
* 실수형 숫자: float64
* 문자열이거나 2개 이상의 데이터 타입으로 이루어진 경우: 'O' (Object)

In [31]:
sample.dtype

dtype('int64')

### 함수(Methods) - Series가 제공하는 다양한 기능 활용
* 함수 호출 시 전달되는 자료들을 인자(argument, parameter)라고 합니다.
* 각 함수들은 정해진 인자들이 있으며, 인자값들을 토대로 함수가 실행됩니다. 
* 동일한 함수라고 하더라도 인자값을 어떻게 설정하느냐에 따라 동작방식은 달라질 수 있습니다.

1) describe() - 통계 정보를 한 눈에 제공해주는 함수

In [33]:
sample.describe()

count     10.000000
mean      81.000000
std       17.763883
min       45.000000
25%       77.500000
50%       87.500000
75%       90.000000
max      100.000000
dtype: float64

2) 통계함수들 - max(), min(), avg(), ...

In [34]:
sample.max()

100

In [35]:
sample.min()

45

In [36]:
sample.mean()

81.0

3) add_prefix(prefix) - 인덱스 라벨 앞에 prefix 문자열을 추가

In [37]:
sample.add_prefix('big-')
#'big-' :인자(parameters)
#sample.add_prefix(prefix= 'big-')

#sample.add_prefix() :오류
#sample.add_prefix :오류

big-a     85
big-b     90
big-c     75
big-d     55
big-e     45
big-f     90
big-g     95
big-h     85
big-i     90
big-j    100
dtype: int64

In [38]:
#문자열 추가한 결과는 원본데이터에 영향 미치지 않음
sample
#함수의 결과들은 원본에 영향X

a     85
b     90
c     75
d     55
e     45
f     90
g     95
h     85
i     90
j    100
dtype: int64

In [39]:
sample1 = sample.add_prefix('-big')
#이렇게 저장해서 출력해야함 
sample1

-biga     85
-bigb     90
-bigc     75
-bigd     55
-bige     45
-bigf     90
-bigg     95
-bigh     85
-bigi     90
-bigj    100
dtype: int64

4) value_counts() - Series에 있는 데이터 값들의 개수

In [40]:
sample.value_counts()
#인자가 존재하는 함수 - 인자 없어도 실행됨 - 기본적인 기능 (default:값 지정 안했을 때 기본적으로 처리)

90     3
85     2
100    1
55     1
75     1
45     1
95     1
dtype: int64

In [44]:
#오름차순으로 보고 싶다
sample.value_counts(ascending=True)

#첫번째 인자(nomalize)의 값으로 인식
sample.value_counts(True)
#sample.value_counts(nomalize=True)

100    1
55     1
75     1
45     1
95     1
85     2
90     3
dtype: int64

5) add(값) - Series의 데이터 각각에 값을 더하기

In [45]:
sample.add(other=100)
#sample+100

a    185
b    190
c    175
d    155
e    145
f    190
g    195
h    185
i    190
j    200
dtype: int64


<b>[Mini Quiz #1]</b> 앞에 5개의 데이터에는 5를 더하고, 나머지 5개의 데이터에는 10을 더하시오.

In [47]:
sample.add([5,5,5,5,5,10,10,10,10,10])

a     90
b     95
c     80
d     60
e     50
f     95
g    100
h     90
i     95
j    105
dtype: int64

In [ ]:
#위의 다른 시도 
sample[:5].add(5)
sample[5:].add(5)
#할 수는 있지만 둘을 합쳐야함

6) append(series) - 인자로 받은 series를 기존 series 뒤에 이어붙여서 하나의 series로 만든다.

In [48]:
a=sample[:5].add(5)

In [49]:
b=sample[5:].add(5)

In [50]:
a.append(b)

a     90
b     95
c     80
d     60
e     50
f     95
g    100
h     90
i     95
j    105
dtype: int64

In [51]:
#새로운 항목 추가
sr= Series(80, index=['k'])
sample.append(sr)

a     85
b     90
c     75
d     55
e     45
f     90
g     95
h     85
i     90
j    100
k     80
dtype: int64

7) isin(val_list) - Series에 있는 각각의 데이터들이 val_list에 포함되어 있는지 여부를 확인

In [52]:
#75,85인지?
sample.isin([75,85])

a     True
b    False
c     True
d    False
e    False
f    False
g    False
h     True
i    False
j    False
dtype: bool

<b>[Mini Quiz #2]</b> sample 데이터 내에 80이 있는지 확인하여 있으면 True, 없으면 False를 출력

In [53]:
80 in sample.values

False

In [54]:
sample.isin([80])

a    False
b    False
c    False
d    False
e    False
f    False
g    False
h    False
i    False
j    False
dtype: bool

<b>[Mini Quiz #3]</b> sample의 인덱스 내에 'h'가 있는지 확인하여 있으면 True, 없으면 False를 출력

In [55]:
'h' in sample.index

True

8) apply(<i>func</i>) - Series의 값에 <i>func</i> 함수를 적용

In [56]:
#80 이상이면 Good, 80 미만이면 Bad로 변경하고 싶은 경우
#함수 선언     #value값을 인자로 받을 것이다
def get_grade(val):
    if val >=80:
        return'Good'
    else:
        return'Bad'

In [57]:
get_grade(50)

'Bad'

In [58]:
get_grade(80)

'Good'

In [59]:
sample.apply(get_grade)

a    Good
b    Good
c     Bad
d     Bad
e     Bad
f    Good
g    Good
h    Good
i    Good
j    Good
dtype: object

In [60]:
#익명 함수(람다 함수)
sample.apply(lambda val: 'Good' if val >=80 else 'Bad')

a    Good
b    Good
c     Bad
d     Bad
e     Bad
f    Good
g    Good
h    Good
i    Good
j    Good
dtype: object

## Series 인덱싱 - 원하는 데이터만 선택하기

1) 특정 인덱스 선택하기
- 숫자 인덱스와 인덱스 라벨 모두 가능

In [61]:
#세번째 항목값만 선택
sample[2]

75

In [62]:
#'c'에 해당하는 값을 선택
sample['c']

75

2) 여러 인덱스를 동시에 선택하기
- 선택하고자 하는 인덱스 목록을 리스트(List, [])로 전달

In [68]:
#3,5,7번째 데이터만 선택하기
sample[[2,4,6]]
#안쪽[]:list 의미
#밖[]: 색인

c    75
e    45
g    95
dtype: int64

In [69]:
#'c','e','g' 데이터 선택
sample[['c','e','g']]

c    75
e    45
g    95
dtype: int64

In [74]:
# 'c'부터 'g'까지의 데이터 선택
sample[['c','d','e','f','g']]
#sample['c':'g']

c    75
d    55
e    45
f    90
g    95
dtype: int64

3)인덱스 슬라이싱 - 주어진 범위에 해당하는 데이터 선택
<img src="img/1강/Series-슬라이싱.jpg" alt="datetime" style="width: 500px;"/>

- start idx와 end idx는 생략이 가능
- start idx를 생략 -> 맨 첫 데이터부터 선택
- end idx를 생략 -> 데이터 끝까지 선택

In [75]:
# 'c'부터 'g'까지의 데이터 선택
sample['c':'g']

c    75
d    55
e    45
f    90
g    95
dtype: int64

In [77]:
# sample의 맨 앞에 있는 5개 선택
sample[0:5]
#sample[:5]
#sample['a':'e']

a    85
b    90
c    75
d    55
e    45
dtype: int64

In [83]:
sample1=sample.append(sr)
#sample의 맨 뒤에 있는 3개 선택
sample1[8:11]
#sample[8:]

i     90
j    100
k     80
dtype: int64

In [84]:
sample[-3:]
#sample[-3:-1]
#-1 사용하면 안됨

h     85
i     90
j    100
dtype: int64

4) 조건 색인(불리언 색인) : 조건을 활용한 인덱스 선택
- 조건에 충족하는 데이터만 선택하는 방법
- 매우 많이 활용되므로, 꼭 알고 있어야 함!
<img src="img/1강/조건색인1.jpg" alt="datetime" style="width: 1200px;"/>

In [86]:
boolean_idx = [False, False, False, False, False, 
               True, True, True, True, True]

In [87]:
sample[boolean_idx]

f     90
g     95
h     85
i     90
j    100
dtype: int64

- boolean index를 조건을 통해 생성할 수 있다. 
<img src="img/1강/조건색인2.jpg" alt="datetime" style="width: 1200px;"/>

In [ ]:
sample>=90
#이 것을 블리언 인덱스라고 봄

<b>[Mini Quiz #4]</b> sample 데이터의 평균값보다 큰 데이터만 선택

<b>[Mini Quiz #5]</b> sample의 값이 50과 80 사이의 데이터만 선택

=============================================================
# 실습 문제

In [ ]:
import random

In [ ]:
# 실습 데이터 생성
sample = random.sample(range(1,100),26) # 1~100사이의 값을 26개 생성하여 list로 반환
data = Series(sample, index = list('ABCDEFGHIJKLMNOPQRSTUVWXYZ'))
data

In [ ]:
# 1) 인덱스 라벨이 'K' 항목의 값 출력

In [ ]:
# 2) 인덱스 라벨이 'A','F','C' 항목의 값 출력

In [ ]:
# 3) 5번 인덱스부터 15번 인덱스까지의 항목 출력

In [ ]:
# 4) 뒤에서 5개 항목 출력

In [ ]:
# 5) data의 항목의 갯수를 출력

In [ ]:
# 6) data 항목 값들의 평균보다 큰 항목만 출력 
## Hint. data 항목 값들의 평균은 data.mean()으로 구할 수 있다.

In [ ]:
# 7) data의 항목 값 중에 50이 있는지 확인하여, 있으면 True, 없으면 False를 출력

In [ ]:
# 8) data의 인덱스 라벨과 각 항목 값을 아래와 같이 출력
# index: A, value: XX
# index: B, value: XX
# index: C, value: XX