<a href="https://colab.research.google.com/github/LeeSeohyun1385/study/blob/main/python/sql_%EC%97%B0%EB%8F%99.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#connect sh/lsh
#conn sys/password as sysdba
#in RUN sql 


#cx_Oracle설치방법
#터미널 - pip install cx_Oracle

In [ ]:
import cx_Oracle

In [ ]:
conn=cx_Oracle.connect('sh/lsh@localhost:1521/xe') #sld

cur=conn.cursor()

cur.execute('select from employee')

for result in cur:
        print(result)
    
    #pd.sql_('')   pd.read_csv('파일명')
    #result
    #시각화
    #통계적분석 기계학습
    #딥러닝
    
    
cur.close()
conn.close()

DatabaseError: ORA-00936: missing expression